{{ define "title" }}chmod4{{ end }} {{ define "header" }}
<h1>Code sharing but <grad>chill</grad></h1>
<p class="big-text">
  Stop sharing your code with a live video or online editor. Use chmod4 and stay
  in your editor of choice while streaming your work to a private link.
</p>
<button id="getstarted" class="block accent">Get Started</button>
{{ end }} {{ define "body" }}
<img id="header-image" src="/public/img/untitled.png">
<div class="content">
  <h2>Choose your editor</h2>
  <p class="big-text">
    Hang out in your favorite editor. chmod4 handles all the other stuff. Select
    yours below to get started.
  </p>
  <div id="buttons">
    <a href="how/emacs.html"><button class="block">Emacs</button></a>
    <a href="how/sublime.html"><button class="block">Sublime</button></a>
    <button class="block">VSCode</button>
    <button class="block">Atom</button>
    <button class="block">IntelliJ</button>
  </div>
  <p class="info">
    Don't see your editor? <a href=".">Let us know what you use.</a>
  </p>
</div>
{{ end }}
