{{ define "title" }}chmod4{{ end }} {{ define "header" }}
<h1>Code sharing but chill</h1>
<p class="big-text">
  Stop sharing your code with a live video or online editor. Use chmod4 and stay
  in your editor of choice while streaming your work to a private link.
</p>
{{ end }} {{ define "body" }}
<img id="header-image" src="/public/img/prettydemo.jpg">
<div class="content">
  <h2>Choose your editor</h2>
  <p class="big-text">
    Hang out in your favorite editor. chmod4 handles all the other stuff. Select
    yours below to get started.
  </p>
  <div id="buttons">
    <a href="how/emacs.html" class="block">Emacs</a>
    <a href="how/sublime.html" class="block">Sublime</a>
    <a href="how/vscode.html" class="block">VS Code</a>
  </div>
  <p id="need-editor">
    Don't see your editor?
    <a href="mailto:chmodfour@gmail.com">Shoot us an email!</a>
  </p>
</div>
{{ end }}