<!doctype html>
<html class="hljs">
  <head>
    <!-- highlight.js initialization -->
    <link rel="stylesheet" href="/public/lib/highlight/styles/github.css">
    <script src="/public/lib/highlight/highlight.pack.js"></script>
    <script src="/public/lib/mark/mark.v9.min.js"></script>

    <!-- WS -->
    <script type="text/javascript">
      const WEBSOCKET_URL = "{{.}}";
    </script>

    <!-- Our stylesheet -->
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <pre id="wrapper"><code id="contents"></code></pre>
  </body>
  <!-- Our streaming javascript -->
  <script src="/public/js/streamer.js"></script>
</html>
