{{ define "title" }}chmod4 | pricing{{ end }}

{{ define "header" }}
<h1>Free for the forseeable future</h1>
<div class="content">
  <p class="body-text">
    We've both worked at a reasonable number of companies and figured
    it would be a nice learning experience to make something for
    people ourselves. For the moment the goal here is to learn about
    doing that, not to make money or harvest your data.
  </p>
  <p class="body-text">
    Down the line its likely that chmod4 will cost something, but its
    not high on our list of priorities for the time being.
  </p>
</div>
{{ end }}
