{{ define "title" }}chmod4 | about{{ end }}

{{ define "header" }}
<h1>About</h1>
<div class="content body-text">
  <p>
    chmod4 lets you start a mirroring session from inside your editor
    and share what you're working on to a private link.
  <p>
  <p>
    We made chmod4 because we were tired of using Zoom to share code
    with our group mates in classes. We wanted a convenient way to share
    the code we were looking at without needing to use an online
    editor or stream a HD video of our screen over a video call.
  </p>
  <p>
    chmod4 is made by <a href="noahsaso.com">Noah</a>
    and <a href="zmedley.com">Zeke</a>. If you have feedback or would
    like to get in touch feel free to join
    our <a href="https://discord.gg/vX9WTQxtMY">Discord</a>!
  </p>
</div>
{{ end }}
