html,
body {
  margin: 0;
  padding: 0;
}

#wrapper {
    position: relative;
    /*
      Add a margin to the bottom. This serves two purposes:
      	  1. Makes sure that there is room for the UI such that it
             doesn't cover the text at the bottom.
          2. Makes it slghtly more plesant to view text at the bottom
             of a file.
    */
    margin-bottom: 25vh;
}

mark {
  background: rgba(0, 0, 255, 0.2);
}

#ui {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#ui > * {
  margin-bottom: 0.6rem;
}

#ui > *:last-child {
  margin-bottom: 0;
}
