html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
}

#cursor {
    position: absolute;
    background: transparent;
    color: blue;
    opacity: 40%;
}

mark {
    background: rgba(0, 0, 255, 0.2);
}

#ui {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 9px 8px -7px rgba(0,0,0,0.3);

    background: white;
    border-radius: 10px;
    border: 1px solid #eee;
}
